@font-face {
    font-family: "D7CBI";
    src: url("./fonts/DSEG7Classic-BoldItalic.woff") format('woff');
}

#reg_names {
    background-color: blanchedalmond;
    margin-right: 4px;
    font-size: small;
}

.reg_name {
    text-align: right;
    margin-right: 4px;
    font-size: small;
}

.reg_value {
    font-family: D7CBI;
}

#memory {

}

#regs {

}

#ui {
    display: flex;
}
.address {
    font-family: D7CBI;
    font-size: small;
    color: rgb(136, 134, 134);
}

.mem_value {
    font-family: D7CBI;
}
#display1 {
    display: flex;
    justify-content: center;
}

#console_main {
    width: 80em;
    height: 25em;
    background-color: rgb(46, 46, 46);
    color:rgb(43, 233, 52)
}
#registers {
    background-color: blanchedalmond;
}
#memory_view1 {
    display: block;
    max-height: 25em;
    overflow: auto;
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}

.exec {
    background-color: #b7c0b2;
}

.indicator {
    color: #66f;
    text-shadow: 0px 0px 3px #aaf;
}

.flag_indicator {
    margin-right: 4px;

}

.indicator_on {
    color: #f22;
    text-shadow: 0px 0px 8px #f66;
}

.normal {
    font-weight: bold;
    color:#7a8177;
    background-color: rgb(236, 212, 212);
    border-radius: 4px;
}

.terminate {
    font-weight: bold;
    color: #f22;
    text-shadow: 0px 0px 8px #f66;
    background-color: rgb(236, 212, 212);
    border-radius: 4px;
}

.breakpoint {
    border-bottom: #f22;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
}